/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2017, 6:24:53 PM
    Author     : anas
*/

.root{ 
  /*-fx-background-color: midnightblue;*/
/*  -fx-padding: 30px;*/
  -fx-font-size: 20px;
  -fx-font-family: "Comic Sans MS";
}
.pane{
   /*-fx-background-color: red;*/
   -fx-border-width: 2px;
  -fx-hgap: 10px;
  -fx-vgap: 10px;
}
.paneRoot{
  -fx-border-width: 2px;
  -fx-hgap: 20px;
  -fx-vgap: 20px; 
}
.pane2{
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}
.imgView{
    -fx-arc-height: 200px;
    -fx-border-width: 10px;
    -fx-border-radius: 200;
   -fx-hgap: 10px;
  -fx-vgap: 10px;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 200;
}

.b:disabled {
  -fx-opacity: 1.0 ;
}

