/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2017, 6:24:53 PM
    Author     : anas
*/

.root{
    
  /*-fx-background-color: midnightblue;*/
  -fx-padding: 30px;
  -fx-font-size: 20px;
  -fx-font-family: "Comic Sans MS";
}
.pane{
    
   
   /*-fx-background-color: red;*/
   -fx-border-width: 2px;
  -fx-hgap: 10px;
  -fx-vgap: 10px;
}
.pane2{
    -fx-background-image: url("http://icons.iconarchive.com/icons/danieledesantis/playstation-flat/128/playstation-cross-icon.png");
            -fx-background-repeat: no-repeat;
            -fx-background-size: contain;
}
.imgView{
    -fx-arc-height: 200px;
    -fx-border-width: 10px;
    
    -fx-hgap: 10px;
  -fx-vgap: 10px;
}